//ARTISTAS

.main__artist {
    background-color: map-get($map: $paleta, $key: "bg__color");
    .hero__image--artist {
        background-image: $hero__image--gradient, url(../images/artistas/hero_image_artist.webp);
        background-size: cover;
        @include d-flex (flex, column, center, center);
        height: 100vh;
        width: 100%;
    .hero__text {
        @include d-flex (flex, column, center, center);
            text-align: center;
            animation-name: opacity__efx;
            animation-duration: 2s;
            width: 100%;
            h1 {
                @include heading ($md__text, 1, $bold__text, left, 2%, 0);
                    border-bottom: 2px solid map-get($map: $paleta, $key: "white");
                @include medias (tablet) {
                    font-size: 3.5em;
                }
            }
            p {
                font-size: 1.4em;
            }
            img {
                width: 10%;
                animation-name: movement__efx;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-delay: 1s;
                @include medias (tablet) {
                    width: 5%;
                }
            }
        }
    }
    .presentation__artist {
        .card__artist--header {
            padding: 2%;
            background-color: map-get($map: $paleta, $key: "main__color");
            color: map-get($map: $paleta, $key: "black");
            margin: 2% 0;
            width: 100%;
            h2 {
            @include heading ($sm__text + 0.5em, 1, $bold__text, left, 1% 0, 1% 0);
            @include medias (tablet) {
                font-size: $md__text;
            }
            }
            p {
                font-size: $sm__text;
                margin: 0;
                @include medias (desktop) {
                    font-size: $md__text - 0.5em;
                }
            }
        }
        .card__artist--flex {
            @include d-flex (flex, column, center, center);
            width: 100%;
            @include medias (tablet) {
                @include d-flex (flex, row, center, center);
            }
            .card__artist--style {
                padding: 2%;
                margin: 1.5%;
                border-radius: 5px;
                background-color: map-get($map: $paleta, $key: "secondary__color");
                box-shadow: $box__shadow;
                background: $card__gradient;
                animation-name: opacity__efx;
                animation-duration: 2s;
                .card__top {
                        @include d-flex (flex, row, space-between, center);
                    a {
                        text-decoration: none;
                        font-weight: $bold__text;
                        color: map-get($map: $paleta, $key: "white");
                        font-size: $sm__text - 0.1em;
                        margin: 0 0 1% 0;
                        @include medias (mobile__lg) {
                            font-size: $sm__text;
                        }
                    }
                    p {
                        font-size: $sm__text - 0.1em;
                        margin: 0 0 1% 0;
                        @include medias (mobile__lg) {
                            font-size: $sm__text;
                        }
                    }
                }
                img {
                    width: 100%;
                }
                p {
                    font-size: $sm__text - 0.1em;
                    @include medias (mobile__lg) {
                        font-size: $sm__text;
                    }
                }
            }
        }
    }

}



